<!DOCTYPE html>
<!--Autor Original: John Michel Rivera de León-->
<html lang="es">
    <head>
        <title>TESOEM Radio</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="TESOEM Ingeniería en Sistemas computacionales. Estación de Radio."/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css"/>
        <link rel="stylesheet" href="../static/css/estilos.css"/>
    </head>
    <body>
        <header id="yo" class="Header">
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="index.html">Inicio</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="noticias.html">Notícias</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="cultura.html">Cultura</a>
                    </li>
                </ul>
            </nav>

            <figure class="Header-imageContainer">
                <img src="../static/images/images2.jpg" alt="Facebook : IngTESOEM" class="Header-image"/>
                <figcaption class="Header-description">
                    <a href="https://www.facebook.com/groups/345193682221179/" target="_blank" class="Header-link">@IngTesoem </a>
                </figcaption>
                <p class="Header-name">TESOEM Radio</p>
            </figure>
        </header>
        <section id="trabajo" class="Work">
            <div class="u-containerDefault"> 
                <h2 class="Work-title u-title">Cultura</h2>
            </div>
                <article  class="u-containerDefault">
                    <h3>    
                        Centros Regionales de Cultura
                    </h3>
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/imc_img_cregionales.jpg" alt="Esmeralda pic"/>
                        <figcaption class="Work-description">Centro de cultura</figcaption>
                    </figure>                    
                    <p class="Profile-description">
                        Actualmente el Instituto Mexiquense de Cultura tiene a cargo 18 Centros Regionales de Cultura en donde se ofrecen 4 mil actividades artísticas y culturales al año. En esta sección te mostramos sus actividades.
                    </p>
                </article>
                <article class="u-containerDefault">
                    <h3> Zonas Arquelógicas</h3>
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/imc_img_teote2.jpg" alt="Fer Pic"/>
                        <figcaption class="Work-description"> Arqueología</figcaption>
                    </figure>
                    <p class="Profile-description">
                        El Instituto Mexiquense de Cultura cuenta con la administración de 4 zonas arquelogicas situadas en diferentes puntos del Estado de México como lo es Acambay, Tejupilco, Tenango del Valle e Ixtapaluca.
                    </p>
                </article>
        </section>
        <footer id="foot" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title">Ingeniería en Sistemas computacionales</h3>
            </div>

        </footer>
    </body>
</html>

