<!DOCTYPE html>

<html lang="es">
    <head>
        <title>TESOEM Radio lalala</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="TESOEM Ingeniería en Sistemas computacionales. Estación de Radio."/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css"/>
        <link rel="stylesheet" href="../static/css/estilos.css"/>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <header id="yo" class="Header">
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="index.html">Inicio</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="noticias.html">Notícias novedossas</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="cultura.html">Cultura</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="cultura.html">Para Verrme</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="cultura.html">opcion 2</a>
                    </li>

                </ul>
            </nav>

            <figure class="Header-imageContainer">
                <img src="../static/images/images2.jpg" alt="Facebook : IngTESOEM" class="Header-image"/>
                <figcaption class="Header-description">
                    <a href="https://www.facebook.com/groups/345193682221179/" target="_blank" class="Header-link">@IngTesoem </a>
                </figcaption>
                <p class="Header-name">TESOEM Radio lalalala</p>
            </figure>
        </header>
        <section id="perfil" class="Profile">
            <div class="u-containerDefault"> 
                <h2 class="Profile-title u-title">!Escúchanos en vivo por internet!</h2>
                <div>
                <embed id="flashContent" width="280" height="47" flashvars="provider=sound&controller=bottom&file=http%3A//50.22.218.197%3A15562/;stream.mp3&duration=0&skin=http%3A//flashplayer.listen2myradio.com/skins/kleur.zip&autostart=true" bgcolor="#FFFFFF" allowscriptaccess="always" allowfullscreen="false" quality="high" name="flashContent" style="undefined" src="http://flashplayer.listen2myradio.com/mediaplayer/mediaplayer-licensed/player-licensed.swf" type="application/x-shockwave-flash">
                </div>
                <p class="Profile-description">Puedes <strong>visitar</strong> nuestras redes <span class="Profile-span">sociales</span> si quieres <em>seguirnos</em></p>

                <a class="Profile-link icon-twitter" href="https://twitter.com/IngTesoem" target="_blank" > @IngTesoem</a>

                <a class="Profile-link icon-facebook" href="https://www.facebook.com/groups/345193682221179/" target="_blank" > IngTesoem</a>

            </div>
        </section>
        <section id="trabajo" class="Work">
            <div class="u-containerDefault"> 
                <h2 class="Work-title u-title">Nuestros Locutores</h2>
            </div>
                <article  class="u-containerDefault">
                    <h3> Esmeralda Rivero</h3>
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/esmeralda.jpg" alt="Esmeralda pic"/>
                        <figcaption class="Work-description">6:00 a.m - 8:00 a.m</figcaption>
                    </figure>                    
                    <p class="Profile-description">Puedes encontrarla en el horario de 6:00 a.m. A 8:00 a.m. con su<em>"Carabela de Arabela"</em>.
                         Te inforamara sobre lo último en tecnología ademas de las ultimas novedades que acontecen el tecnológico.
                    </p>
                </article>
                <article class="u-containerDefault">
                    <h3> Fernando Martínez</h3>
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/fer2.jpg" alt="Fer Pic"/>
                        <figcaption class="Work-description"> 8:00 p.m - 12:00 p.m</figcaption>
                    </figure>
                    <p class="Profile-description">
                        Fernando dirige las secciónes divertidas de la radio, ademas de que podras encontrar música nueva y metalera. 
                        Tambien le encanta todo tipo de música, así que puedes pedirle la que mas te guste.
                        GitHub is built for collaboration. Set up an organization to improve the way your team works together, and get access to more features.GitHub is built for collaboration. Set up an organization to improve the way your team works together, and get access to more features.
                    </p>
                </article>
                <article class="u-containerDefault">
                    <h3> Sofía de la Peña</h3> 
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/sofy.jpg" alt="Sofy Pic"/>
                        <figcaption class="Work-description">10:00 p.m - 12:00 p.m</figcaption>
                    </figure>
                    <p class="Profile-description">                        
                        Escucha a Sofy en una charla amena entre amigos, en donde ella te contara experiencias y le gustara escuchar las tuyas para
                        poder compartirlas con los demas.
                        Ademas Sofy te dara tip's sobre lo que acontece el tecnológico para ayudarte.                        
                    </p>
                </article>
        </section>
        <footer id="foot" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title">Ingeniería en Sistemas computacionales</h3>
                <h3 class="Footer-title">ISC  Ingeniería en Sistemas computacionales</h3>
                <h3 class="Footer-title">Ingenierías industrial</h3>
                <h3 class="Footer-title">cambio para genrer problemas</h3>
            </div>

        </footer>
    </body>
</html>

