<!DOCTYPE html>
<!--Autor Original: John Michel Rivera de León-->
<html lang="es">
    <head>
        <title>TESOEM Radio</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="TESOEM Ingeniería en Sistemas computacionales. Estación de Radio."/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css"/>
        <link rel="stylesheet" href="../static/css/estilos.css"/>
    </head>
    <body>
        <header id="yo" class="Header">
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="index.html">Inicio</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="noticias.html">Notícias</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="cultura.html">Cultura</a>
                    </li>
                </ul>
            </nav>

            <figure class="Header-imageContainer">
                <img src="../static/images/images2.jpg" alt="Facebook : IngTESOEM" class="Header-image"/>
                <figcaption class="Header-description">
                    <a href="https://www.facebook.com/groups/345193682221179/" target="_blank" class="Header-link">@IngTesoem </a>
                </figcaption>
                <p class="Header-name">TESOEM Radio</p>
            </figure>
        </header>
        <section id="trabajo" class="Work">
            <div class="u-containerDefault"> 
                <h2 class="Work-title u-title">Notícias</h2>
            </div>
                <article  class="u-containerDefault">
                    <h3> Estímulos TESOEM</h3>
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/esge2.jpg" alt="Esmeralda pic"/>
                        <figcaption class="Work-description">Alumnos beneficiados con estímulos para continuar su educación</figcaption>
                    </figure>                    
                    <p class="Profile-description">Entrega de estímulos para que los alumnos fortalezcan los vínculos entre s futuro y la escuela, por medio de programas estatales que permiten la entrega de Becas de permanencia con el fin de que ningún alumno abandone sus estudios por cuestiones de carácter económico.
                    </p>
                </article>
                <article class="u-containerDefault">
                    <h3> Gimnasio al aire libre </h3>
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/gym2.jpg" alt="Fer Pic"/>
                        <figcaption class="Work-description"> Equipos de uso dual</figcaption>
                    </figure>
                    <p class="Profile-description">
                        Entrega del Gimnasio al aire libre para la comunidad estudiantil
                    </p>
                </article>
                <article class="u-containerDefault">
                    <h3> Pista de atletismo</h3> 
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/pista1.jpg" alt="Sofy Pic"/>
                        <figcaption class="Work-description">400m de recorrido y 8 carriles</figcaption>
                    </figure>
                    <p class="Profile-description">                        
                        Entrega de la pista de atletismo para la comunidad estudiantil del TESOEM con la intensión de seguir brindandoles calidad educativa y deporte, acciones que fomentan el desarrollo integral de los jovenes mexiquenses que confían en el TESOEM como su institución de educación superior.                   
                    </p>
                </article>
        </section>
        <footer id="foot" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title">Ingeniería en Sistemas computacionales</h3>
            </div>

        </footer>
    </body>
</html>

